
body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: normal;
    color: #313131;
};

.page-header {
    color: #313131;
    background-color: #fff;
};

.link {
    color: #313131;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

ul {
    text-decoration: none;
};