.advantages_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

    .advantages_list {
        max-width: 430px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;

    }

    .advantages_item {
        font-size: 12px;
        display: flex;
        align-items:  center;
        gap: 5px;
    }


    .check_icon {
        max-width: 16px;
        max-height: 16px;
    }


@media (min-width: 480px) {

    .advantages_item {
        font-size: 16px;
    }
}

@media (min-width: 767px) {

    .advantages_item {
        font-size: 18px;
        gap: 5px;
    }
}

@media (min-width: 1440px) {

    .advantages_wrapper {
        width: 450px;
        position: absolute;
        top: 40%;
        left: 65%;
    }
}

@media (min-width: 1600px) {

    .advantages_wrapper {
        width: 450px;
        position: absolute;
        top: 55%;
        left: 65%;
    }
}