.burger__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 20px;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.burger__button {
    display: flex;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 95%;
    align-items: center;
}


@media (min-width: 320px) {
    .burger__item {
        padding-top: 10px;
    }

    .burger__link {
        color: var(--white-color);
    }

    .burger__stick {
        background-color: var(--second-primary-color);
        width: 32px;
        height: 2px;
        transition: all 0.2s  ease-out;
    }

    .first_stick.active {
        position: relative;
        top: 9px;
        rotate: 45deg;
        background-color: var(--white-color);
    }
    .second_stick.active {
        opacity: 0;
    }
    .third_stick.active {
        position: relative;
        bottom: 9px;
        rotate: -45deg;
        background-color: var(--white-color);
    }
}
