.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: sticky;
    background-color: white;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (min-width: 320px) {

    .header {
        width: 100%;
        height: 70px;
    }
}

@media (min-width: 480px) {

    .header {
        width: 100%;
        height: 70px;
    }
}

@media (min-width: 768px) {

    .header {
        height: 80px;
    }
}

@media (min-width: 1024px) {

    .header {
        height: 100px;
    }
}


@media (min-width: 1440px) {

    .header {
        height: 100px;
    }
}


@media (min-width: 1920px) {

    .header {
        height: 110px;
    }
}