.mobile__navigation-link {
    color: var(--white-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .mobile__navigation.active {
        left: 0;
    }

    .mobile__navigation {
        display: flex;
        top: 0;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: var(--primary-color);
        left: -100%;
        transition: all 0.2s  ease-out;
    }

.mobile__navigation-link:hover {
    text-decoration: underline;
}


.mobile__navigation-link:hover::after,
.mobile__navigation-link:focus::after {
    width: 100%;
}

    .mobile__navigation-item {
        display: flex;
        width: 100%;
        color: var(--white-color);
    }

@media (min-width: 320px) {

    .mobile__navigation {
        padding-top: 60px;
        gap: 10px;
    }
    .mobile__navigation-item {

    }

    .mobile__navigation-link {
      padding-right: 40px;
        font-size: 26px;
        height: 55px;
    }

}


@media (min-width: 480px) {

    .mobile__navigation {
        padding-top: 70px;
    }

    .mobile__navigation_item {
        padding: 0 10px;

    }

    .mobile__navigation-link {
        display: flex;
        width: 100%;
        font-size: 32px;
        height: 60px;
    }
}

@media (min-width: 767px) {

    .mobile__navigation {
        display: none;
    }
}