 .section {
        width: 100%;

    }


.section_container {
    display: flex;
    flex-direction: column;
}

 .section_wrapper {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     position: relative;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
 }

 .counter {
     justify-content: flex-start;
 }

 @media (min-width: 767px) {
     .section_wrapper {
         justify-content: center;
     }
 }