.user__secondary_button {
    color: var(--second-primary-color);
    text-decoration: underline var(--second-primary-color);
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 2px solid var(--white-color);
    transition:  border-color .2s ease-out, color .2s ease-out;
}

.user__secondary_button:hover {
    color: var(--primary-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
}

.user__primary_button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color .2s ease-out, border-color .2s ease-out, color .2s ease-out;
}

.user__primary_button:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}


.user__auth_area {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 20px;
}

    .user__search_button {
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


@media (min-width: 767px) {

    .user__auth_area {
        display: flex;
        width: 25%;
        justify-content: space-between;
        align-items: center;
    }

    .user__secondary_button {
        width: 70px;
        height: 35px;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }
    .user__primary_button {
        display: flex;
        width: 70px;
        height: 35px;
        font-size: 14px;
    }
}

@media (min-width: 1024px) {

    .user__secondary_button {
        font-size: 18px;
        width: 100px;
        height: 50px;
    }

    .user__primary_button {
        font-size: 18px;
        width: 100px;
        height: 50px;
    }
}


@media (min-width: 1440px) {


    .user__secondary_button {
        font-size: 22px;
        width: 120px;
        height: 60px;
    }

    .user__secondary_button:hover {
        border: 2px solid var(--primary-color);
        text-decoration: none;

    }

    .user__primary_button {
        font-size: 22px;
        width: 120px;
        height: 60px;
    }
}


@media (min-width: 1920px) {

    .user__auth_area {
        display: flex;
        width: 22%;
        justify-content: space-around;
        align-items: center;
    }

    .user__secondary_button {
        font-size: 28px;
        width: 140px;
        height: 70px;
    }

    .user__secondary_button:hover {
        border: 2px solid var(--primary-color);
        text-decoration: none;
    }

    .user__primary_button {
        font-size: 28px;
        width: 140px;
        height: 70px;
    }
}